<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/api-listing.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script src="/api-listing.js"></script>
<title>fastub</title>
</head>



<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

		<div class="font-weight-bold badge logo">Fastub</div>

		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Actions</button>
			<div class="dropdown-menu" id="action-links">
				<a class="dropdown-item" data-toggle="modal"
					data-target="#exampleModal" href="#">Add route</a> 
					<a
					class="dropdown-item" href="#" data-toggle="modal"
					data-target="#deletePathModal" id="header-dlt-a">Delete route</a>
			</div>
		</div>


		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<!-- <li class="nav-item active">
              <a class="nav-link" href="#">About us <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li> -->
			</ul>
			<span class="navbar-text">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="https://getfastub.com/how-it-works.html" target="_blank">Documentation</a>
					</li>
					<li class="nav-item active"><a class="nav-link"
						href="https://github.com/prabjot678/fastub/issues"
						target="_blank">Report an issue</a></li>
				</ul>
			</span>
		</div>
	</nav>


	<div
		class="alert-corner alert alert-success alert-dismissible fade show"
		role="alert" id="alert">
		<p>New request /api/v1/user added in the list.</p>
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	
	



	<div class="api-list border-right">

		<!-- <div class="nav-search-box">
                    <input type="search" id="search" class="form-control ds-input" placeholder="Search...">
                     <i class="fa fa-search"></i>
            </div> -->

		<div class="input-group"
			style="margin-top: 10px; margin-left: 10px; width: 90%">
			<input type="text" class="form-control" placeholder="Search path"
				id="search">
			<div class="input-group-append">
				<button class="btn btn-secondary" type="button" onClick="search()">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>

		<div class="border-bottom" style="margin-top: 10px;"></div>

		<div class="create-api-guide"
			style="text-align: center; margin-top: 50px;">
			<p class="api-create-guide-txt">You don't have any routes.</p>
			<p>
				<button class="btn btn-outline-secondary" data-toggle="modal"
					data-target="#exampleModal">Add route</button>
			</p>
		</div>
		
		

		<div class="scrollbar"></div>



	</div>







	<div class="api-body">


		<ul class="nav nav-pills" id="pills-tab" role="tablist">
			<li class="nav-item"><a class="nav-link active"
				data-toggle="pill" href="#response-body-tab">Response & body</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="pill"
				href="#headers-tab" onClick="getResponseHeaders()">Response
					Headers</a></li>
		</ul>


		<br> <br>
		<div class="border-bottom"></div>
		<br>

		<div class="tab-content">

			<div id="response-body-tab" class="tab-pane fade show active">

				<!-- <div class="dropdown form-group" style="float:left;width:16%">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Http Method
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="#">GET</a>
                                              <a class="dropdown-item" href="#">POST</a>
                                              <a class="dropdown-item" href="#">PUT</a>
                                              <a class="dropdown-item" href="#">DELETE</a>
                                              <a class="dropdown-item" href="#">PATCH</a>
                                            </div>
                                    </div> -->


				<div class="form-group" style="width: 60%">
					<label for="httpMethodDrpDwn">Method</label> <select
						id="httpMethodDrpDwn" class="form-control">
						<option value="GET" selected>GET</option>
						<option value="PUT">PUT</option>
						<option value="DELETE">DELETE</option>
						<option value="POST">POST</option>
						<option value="PATCH">PATCH</option>

					</select>
				</div>


				<div class="input-group mb-3" style="width: 60%">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">/</span>
					</div>

					<input type="text" class="form-control" placeholder="URI"
						aria-label="URI" aria-describedby="basic-addon1" id="uri-txt"
						disabled>
					<!-- <small id="uriHelp" class="form-text text-muted">Path supports path params:/{id},/:id.</small> -->
				</div>

				<div>
					<small id="uriHelp" class="form-text text-muted">URI path
						supports path params : /{id}.</small>
				</div>

				<br>




				<div id="jsn-rsp"></div>

				<span id='add-rsp-icn' onclick="addJsonResponse()"> <i
					class="fa fa-plus" style="color: green; cursor: pointer;">
						Configure one more response</i>
				</span>

				<div class="form-group" id='api-update-btn'>

					<br>

					<button type="submit" class="btn btn-primary" onClick="updateApi()">Save
						changes</button>



				</div>

				<div class="form-group" id='api-update-spinner'>

					<button class="btn btn-primary" type="button" disabled>
						<span class="spinner-border spinner-border-sm" role="status"
							aria-hidden="true"></span> Saving changes...
					</button>

				</div>
			</div>



			<div id="headers-tab" class="tab-pane fade">
				<button type="button" class="btn btn-outline-secondary"
					style="float: right; margin-right: 10px; margin-top: -15px"
					onClick="saveHeaders()">Save changes</button>
				<i class="fa fa-plus-square"
					style="color: green; margin-top: 10px; cursor: pointer;"
					id='ad-hdr'></i>
			</div>
		</div>



	</div>

	<div class="card border-dark wlcm-card" id="wlcm-card">
		<div class="card-header">Welcome to fastub (v1.0.0)</div>
		<div class="card-body text-dark">
			<h5 class="card-title">Get ready API'S in seconds</h5>
			<p class="card-text">Fastub is a easiest way to develop API with
				mock data.</p>
			<p class="card-text">Below are some cool features of fastub.</p>
			<ul>
				<li>Fastub support all http response codes (200(OK),400(Bad
					request) etc.)</li>
				<li>You can mock request using different http methods.
					Currently it supports five http methods (<span class="text-success">GET</span>,<span
					class="text-warning">POST</span>,<span class="text-primary">PUT</span>,<span
					class="text-secondary">PATCH</span>,<span class="text-danger">DELETE</span>);
				</li>
				<li>You can configure multiple response body for one API
					request.</li>
				<li>You can mock response headers using fastub.</li>
			</ul>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<form id="createApiForm">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Add route</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close" onClick="clearCreateApiModalValues()">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="inputState">Http Method</label> <select
								id="inputState" class="form-control">
								<option selected>GET</option>
								<option>PUT</option>
								<option>DELETE</option>
								<option>POST</option>
								<option>PATCH</option>

							</select>
						</div>


						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">/</span>
							</div>
							<input type="text" class="form-control" placeholder="URI path supports path params : /{id}."
								aria-label="Uri" id="addUri" aria-describedby="basic-addon1"
								name="URI">
						</div>
						<!-- <div style="margin-top: -15px;">
							<small id="uriHelp" class="form-text text-muted">URI
								supports path params : /{id}, /:id.</small>
						</div> -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" onClick="clearCreateApiModalValues()">Close</button>
						<button id="api-save-btn" class="btn btn-primary"
							onclick="saveAPI()" type="button">Save changes</button>
						<button id="api-save-spinner" class="btn btn-primary"
							type="button" disabled>
							<span class="spinner-border spinner-border-sm" role="status"
								aria-hidden="true"></span> Saving changes...
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="modal fade" id="deletePathModal" tabindex="-1"
		role="dialog" aria-labelledby="deletePathModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deletePathModal">Delete route</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">Do you really want to delete this
					route? This Process cannot be undone.</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" onClick="deleteApi()"
						id="api-delete-btn">Delete</button>
					<button id="api-delete-spinner" class="btn btn-primary"
						type="button" disabled>
						<span class="spinner-border spinner-border-sm" role="status"
							aria-hidden="true"></span> Saving changes...
					</button>
				</div>
			</div>
		</div>
	</div>


</body>

</html>